.container {
  border: blue solid 2px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 0 0 10px;
  width: 800px;
}
body {
  font-family: 'Hind Guntur', sans-serif;
}
form {
  text-align: center;
  margin: 0 auto;
}
input {
  width: 60%;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  margin-left: 15px;
}
h5 {
  font-size: 15px;
  color: #810000;
}
p {
  font-weight: bold;
  font-size: 15px;
}
i {
  display: block;
  margin: 0 auto;
}
.info {
  display: inline-block;
  width: 45%;
  float: left;
  text-align: center;
}
.today {
  float: right;
  margin-top: 25px;
  font-size: 25px;
}
.units {
  color: black;
}
.iconify {
  margin-top: 15px;
  width: 70px;
  height: 70px;
}
.details {
  width: 45%;
  display: inline-block;
  float: right;
  margin-right: 40px;
}
.card {
  display: block;
  border: blueviolet solid 1px;
  padding: 0 10px;
  margin: 0 5px;
}
.card-body {
  padding: 15px 0;
  margin: 0;
}

.bilyk {
  overflow: auto;
  margin: 20px 0;
}
.new {
  border: blueviolet solid 1px;
  border-radius: 4px;
  display: block;
  margin: auto;
  padding: 0;
  width: 50%;
}
.row {
  text-align: center;
  margin: 0;
}
.card-title {
  margin: 0;
  padding: 0;
}

.forecast {
  display: inline-block
  float: right;
}
